# Java
*.class
*.jar
*.war
*.ear
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
.npm
.eslintcache

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# MinIO
minio-data/

# Docker
*.pid
*.seed

# Trae
.trae/

# WeChat Mini Program
miniprogram_npm/
